
/*
global */
:root {
  --color-viridian-green: #6B8977;
  --color-ecru-white: #F6F3E8;
  --color-akaroa: #D8C1AF;
  --color-primary: #2E2F30;
  --color-panache: #EBF6EF;
  --color-powder-ash: #C1D0C6;
  --color-white: #fff;
  --color-heavy-metal: #262C26;
  --color-tapestry: #AE5E9C;
  --color-edgewater: #C0DFC8;

  --font: 'DM Sans', sans-serif;
}
